In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MultiLabelBinarizer

# Load data

df = pd.read_csv("books_task.csv")

# Data Cleaning
# Convert publishedDate to datetime
df['publishedDate'] = pd.to_datetime(df['publishedDate'], errors='coerce')

# Handle missing values
df['description'].fillna('', inplace=True)

# Feature Engineering
# Extract year and month from publishedDate
df['publishedYear'] = df['publishedDate'].dt.year
df['publishedMonth'] = df['publishedDate'].dt.month

# Convert authors, categories, and title to string
def authors_clean(x):
    if pd.isna(x):
        return ""
    x = x.replace("[","")
    x = x.replace("]","")
    return ', '.join(x.split(","))

df["authors"] = df["authors"].apply(authors_clean)
#df['authors'] = df['authors'].apply(lambda x: ', '.join(x.replace("[","").replace("]","").split(",")))
#df['categories'] = df['categories'].apply(lambda x: ', '.join(x))
df['Title'] = df['Title'].astype(str)

# Feature Engineering for 'Title'
# Using TF-IDF to extract features from title
tfidf_title = TfidfVectorizer(stop_words='english', max_features=100)
title_features = tfidf_title.fit_transform(df['Title']).toarray()
title_feature_names = tfidf_title.get_feature_names_out()

# Convert to DataFrame and concatenate with original DataFrame
title_df = pd.DataFrame(title_features, columns=['title_' + name for name in title_feature_names])
df = pd.concat([df, title_df], axis=1)

# Feature Engineering for 'categories'
# Using TF-IDF to extract features from categories
# Feature Engineering for 'categories'
# Convert categories to one-hot encoded features
mlb = MultiLabelBinarizer()
categories_features = mlb.fit_transform(df['categories'].apply(lambda x: x.split(', ')))
categories_feature_names = mlb.classes_

# Convert to DataFrame and concatenate with original DataFrame
categories_df = pd.DataFrame(categories_features, columns=['category_' + name for name in categories_feature_names])
#df = df.drop(["categories"],axis=1)
df = pd.concat([df, categories_df], axis=1)


# Feature Engineering for 'description'
# Using TF-IDF to extract features from description
tfidf_description = TfidfVectorizer(stop_words='english', max_features=100)
description_features = tfidf_description.fit_transform(df['description']).toarray()
description_feature_names = tfidf_description.get_feature_names_out()

# Convert to DataFrame and concatenate with original DataFrame
description_df = pd.DataFrame(description_features, columns=['desc_' + name for name in description_feature_names])
df = pd.concat([df, description_df], axis=1)

# Feature Engineering for 'authors'
# Using TF-IDF to extract features from authors
tfidf_authors = TfidfVectorizer(stop_words='english', max_features=100)
authors_features = tfidf_authors.fit_transform(df['authors']).toarray()
authors_feature_names = tfidf_authors.get_feature_names_out()

# Convert to DataFrame and concatenate with original DataFrame
authors_df = pd.DataFrame(authors_features, columns=['author_' + name for name in authors_feature_names])
df = pd.concat([df, authors_df], axis=1)

# Feature Engineering for 'publisher'
# Using TF-IDF to extract features from publisher
tfidf_publisher = TfidfVectorizer(stop_words='english', max_features=100)
publisher_features = tfidf_publisher.fit_transform(df['publisher']).toarray()
publisher_feature_names = tfidf_publisher.get_feature_names_out()

# Convert to DataFrame and concatenate with original DataFrame
publisher_df = pd.DataFrame(publisher_features, columns=['publisher_' + name for name in publisher_feature_names])
df = pd.concat([df, publisher_df], axis=1)

# Regression
# Prepare features and target variable
X = df.drop(['Title', 'description', 'authors', 'publisher', 'publishedDate', 'categories', 'Impact'], axis=1)
y = df['Impact']

X = X.fillna(0)
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

/tmp/ipykernel_9715/1830288228.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['description'].fillna('', inplace=True)

Mean Squared Error: 3705.4575570253664

In [2]:
for x in df.columns:
    print(x)

Unnamed: 0
Title
description
authors
publisher
publishedDate
categories
Impact
publishedYear
publishedMonth
title_age
title_america
title_american
title_art
title_best
title_bible
title_black
title_book
title_books
title_business
title_cd
title_century
title_child
title_children
title_christian
title_city
title_classics
title_collection
title_complete
title_contemporary
title_culture
title_day
title_death
title_design
title_dictionary
title_edition
title_encyclopedia
title_english
title_family
title_god
title_good
title_great
title_guide
title_guides
title_handbook
title_health
title_heart
title_history
title_home
title_house
title_ii
title_introduction
title_journey
title_language
title_library
title_life
title_literature
title_little
title_living
title_love
title_making
title_man
title_management
title_manual
title_men
title_modern
title_music
title_mystery
title_new
title_novel
title_old
title_people
title_philosophy
title_poems
title_politics
title_power
title_practical
title_practice
title_recipes
title_reference
title_romance
title_school
title_science
title_second
title_secrets
title_self
title_series
title_social
title_spanish
title_star
title_step
title_stories
title_story
title_studies
title_study
title_tales
title_testament
title_theory
title_time
title_true
title_vol
title_volume
title_war
title_way
title_woman
title_women
title_work
title_world
title_writing
title_years
category_1939-1945']
category_American']
category_Mind & Spirit']
category_["Children's literature"]
category_["Children's stories"]
category_['Adventure stories']
category_['African Americans']
category_['American fiction']
category_['American literature']
category_['American poetry']
category_['Animals']
category_['Antiques & Collectibles']
category_['Architecture']
category_['Art']
category_['Audiobooks']
category_['Authors
category_['Authors']
category_['Automobiles']
category_['Bible']
category_['Bibles']
category_['Biography & Autobiography']
category_['Body
category_['Books']
category_['Brothers and sisters']
category_['Business & Economics']
category_['California']
category_['Canada']
category_['Cats']
category_['Children']
category_['China']
category_['Christian life']
category_['Christianity']
category_['Comic books
category_['Comics & Graphic Novels']
category_['Computers']
category_['Conduct of life']
category_['Cooking']
category_['Copyright']
category_['Crafts & Hobbies']
category_['Design']
category_['Detective and mystery stories']
category_['Dogs']
category_['Drama']
category_['Education']
category_['Electronic books']
category_['England']
category_['English fiction']
category_['English language']
category_['English poetry']
category_['Europe']
category_['Families']
category_['Family & Relationships']
category_['Fiction']
category_['Foreign Language Study']
category_['France']
category_['Frontier and pioneer life']
category_['Games & Activities']
category_['Games']
category_['Gardening']
category_['Great Britain']
category_['Health & Fitness']
category_['History']
category_['House & Home']
category_['Humor']
category_['Indians of North America']
category_['Jews']
category_['Juvenile Fiction']
category_['Juvenile Nonfiction']
category_['Language Arts & Disciplines']
category_['Large type books']
category_['Law']
category_['Libraries']
category_['Literary Collections']
category_['Literary Criticism']
category_['Mathematics']
category_['Medical']
category_['Music']
category_['Nature']
category_['Performing Arts']
category_['Pets']
category_['Philosophy']
category_['Photography']
category_['Poetry']
category_['Political Science']
category_['Psychology']
category_['Railroads']
category_['Reference']
category_['Religion']
category_['Science fiction
category_['Science fiction']
category_['Science']
category_['Self-Help']
category_['Social Science']
category_['Sports & Recreation']
category_['Study Aids']
category_['Technology & Engineering']
category_['Transportation']
category_['Travel']
category_['True Crime']
category_['United States']
category_['World War
category_['Young Adult Fiction']
category_['Young Adult Nonfiction']
category_etc']
category_strips
desc_america
desc_american
desc_art
desc_author
desc_based
desc_best
desc_book
desc_books
desc_business
desc_century
desc_children
desc_classic
desc_collection
desc_complete
desc_comprehensive
desc_culture
desc_day
desc_development
desc_easy
desc_edition
desc_english
desc_experience
desc_family
desc_features
desc_god
desc_good
desc_great
desc_guide
desc_help
desc_high
desc_history
desc_home
desc_human
desc_important
desc_includes
desc_including
desc_information
desc_introduction
desc_just
desc_know
desc_language
desc_learn
desc_life
desc_like
desc_lives
desc_long
desc_love
desc_make
desc_man
desc_men
desc_modern
desc_need
desc_new
desc_novel
desc_offers
desc_old
desc_original
desc_people
desc_personal
desc_political
desc_power
desc_practical
desc_presents
desc_provides
desc_published
desc_questions
desc_read
desc_readers
desc_real
desc_research
desc_science
desc_self
desc_series
desc_shows
desc_social
desc_step
desc_stories
desc_story
desc_students
desc_study
desc_techniques
desc_text
desc_time
desc_times
desc_today
desc_understanding
desc_use
desc_volume
desc_war
desc_way
desc_woman
desc_women
desc_work
desc_world
desc_writing
desc_written
desc_year
desc_years
desc_york
desc_young
author_alan
author_alexander
author_allen
author_anderson
author_andrew
author_ann
author_anne
author_anthony
author_arthur
author_barbara
author_bob
author_brian
author_brown
author_bruce
author_carol
author_charles
author_chris
author_christopher
author_dan
author_daniel
author_david
author_davis
author_dennis
author_don
author_donald
author_douglas
author_edward
author_elizabeth
author_eric
author_frank
author_gary
author_george
author_gordon
author_henry
author_howard
author_jack
author_james
author_jan
author_jane
author_jean
author_jeffrey
author_jennifer
author_jim
author_joan
author_john
author_johnson
author_jonathan
author_jones
author_joseph
author_jr
author_judith
author_karen
author_kenneth
author_kevin
author_larry
author_laura
author_lawrence
author_lee
author_lewis
author_linda
author_lisa
author_louis
author_lynn
author_margaret
author_mark
author_martin
author_mary
author_michael
author_mike
author_miller
author_nancy
author_patricia
author_patrick
author_paul
author_peter
author_philip
author_professor
author_publishing
author_richard
author_robert
author_roger
author_ronald
author_rose
author_sarah
author_scott
author_smith
author_stanley
author_stephen
author_steve
author_steven
author_susan
author_taylor
author_thomas
author_tim
author_tom
author_van
author_walter
author_william
author_williams
author_wilson
publisher_academic
publisher_amer
publisher_baker
publisher_ballantine
publisher_bantam
publisher_berg
publisher_black
publisher_bloomsbury
publisher_book
publisher_books
publisher_brown
publisher_business
publisher_california
publisher_cambridge
publisher_cengage
publisher_chicago
publisher_chronicle
publisher_collins
publisher_com
publisher_company
publisher_corporation
publisher_courier
publisher_crc
publisher_cumberland
publisher_demand
publisher_education
publisher_eerdmans
publisher_elsevier
publisher_greenwood
publisher_group
publisher_hachette
publisher_hall
publisher_harcourt
publisher_harlequin
publisher_harper
publisher_harpercollins
publisher_harvard
publisher_hill
publisher_hippocrene
publisher_houghton
publisher_house
publisher_incorporated
publisher_institution
publisher_international
publisher_iuniverse
publisher_john
publisher_learning
publisher_library
publisher_limited
publisher_little
publisher_littlefield
publisher_llc
publisher_macmillan
publisher_martin
publisher_mcgraw
publisher_media
publisher_mifflin
publisher_nelson
publisher_new
publisher_norton
publisher_open
publisher_oup
publisher_oxford
publisher_paperbacks
publisher_pearson
publisher_penguin
publisher_prentice
publisher_press
publisher_princeton
publisher_professional
publisher_pub
publisher_publications
publisher_publishers
publisher_publishing
publisher_random
publisher_readers
publisher_road
publisher_routledge
publisher_rowman
publisher_scholastic
publisher_schuster
publisher_science
publisher_simon
publisher_smithsonian
publisher_sons
publisher_springer
publisher_st
publisher_tan
publisher_thomas
publisher_trade
publisher_uk
publisher_univ
publisher_university
publisher_usa
publisher_vintage
publisher_wiley
publisher_wm
publisher_york
publisher_young
publisher_zondervan

In [3]:
X

,Unnamed: 0,publishedYear,publishedMonth,title_age,title_america,title_american,title_art,title_best,title_bible,title_black,...,publisher_uk,publisher_univ,publisher_university,publisher_usa,publisher_vintage,publisher_wiley,publisher_wm,publisher_york,publisher_young,publisher_zondervan
0,0,1996.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
2,2,2000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.671742,0.0,0.0,0.000000,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
4,5,1996.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.640061,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138719,212397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
138720,212398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
138721,212399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
138722,212400,1995.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.640061,0.0,0.0,0.0
138723,212402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,1.0,0.0,0.000000,0.0,0.0,0.0

In [4]:
X_test

,Unnamed: 0,publishedYear,publishedMonth,title_age,title_america,title_american,title_art,title_best,title_bible,title_black,...,publisher_uk,publisher_univ,publisher_university,publisher_usa,publisher_vintage,publisher_wiley,publisher_wm,publisher_york,publisher_young,publisher_zondervan
90643,136496,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33022,46068,2012.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3951,5538,2005.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69527,106670,2004.0,1.0,0.0,0.638731,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64386,99530,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88145,132974,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,2054,1995.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95832,144435,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55294,82391,2005.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92608,139484,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df[df["Unnamed: 0"] == 139484][["Impact"]]

           Impact
92608  682.004019